<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>

<body>
    <h3>Task List</h3>
    {% for task in tasks %}
    <p>{{ forloop.counter }}. {{ task.name }} - {{ task.get_status_display }}
        {# url指定 渲染时是url变量 'tasks:name' task.id 是传入参数 即指定更新哪个任务 #}
        (<a href="{% url 'tasks:task_update' task.id %}">Update</a> |
        <a href="{% url 'tasks:task_delete' task.id %}">Delete</a>)
    </p>
    {% endfor %}
    <p> <a href="{% url 'tasks:task_create' %}"> + Add A New Task</a></p>
</body>

</html>